<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255703403555-a8l49l1hdfffo87oa4mbpqu1kfdsc4n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255703403555-a8l49l1hdfffo87oa4mbpqu1kfdsc4n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCpdlH_Qt83B0IPYDNQOgq_ECubgqVCDsw</string>
	<key>GCM_SENDER_ID</key>
	<string>255703403555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suzukiJoe.Skills</string>
	<key>PROJECT_ID</key>
	<string>mapwatch-2c99a</string>
	<key>STORAGE_BUCKET</key>
	<string>mapwatch-2c99a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255703403555:ios:e71e181576553994</string>
	<key>DATABASE_URL</key>
	<string>https://mapwatch-2c99a.firebaseio.com</string>
</dict>
</plist>